@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #1e1e1e;
  color: #f9f9f9;
  overflow-x: hidden;
  font-family: "Noto Sans KR", serif;
}

.han-sans {
  font-family: "Black Han Sans", serif;
}
